services:
  - type: web
    name: apibuilder
    env: docker
    region: singapore  
    plan: free  
    branch: main
    healthCheckPath: /actuator/health
    envVars:
      - key: APP_NAME
        value: apibuilder
      - key: MONGODB_URI
        sync: false  
      - key: MONGODB_DATABASE
        value: Apibuilder
      - key: JWT_SECRET
        sync: false  
      - key: PORT
        value: 8080
    buildCommand: ./mvnw clean package -DskipTests
    startCommand: java -jar target/*.jar
